body{
  margin: 0;
  background: linear-gradient(to left, lightpink, lightgreen);
  font-family: rockwell;
}

.heading{
  color: whitesmoke;
  font-size: 35px;
  text-align: center;
  padding: 15px;
}
.info-text{
  text-align: center;
  color: darkblue;
  font-size: 20px;
}
.btn{
  font-weight: 700;
  opacity: 70%;
  height: 300px;
  border-radius: 10px;
  border: none;
  font-size: 70px;
  border-color: rgba(255, 255, 255, .37);
  background: rgba(255, 255, 255, .3);
}
.btn:hover{
  box-shadow: 0 0 8px;
  cursor: pointer;
  transition: all 250ms ease-in-out; 
  background: rgba(255, 255, 255, .25);
  transition: all 300ms ease;
}
.app{
  display: grid;
  grid-template-columns: repeat(auto-fill, 300px);
  gap: 40px;
  justify-content: center;
  align-items: center;
  padding: 50px;
  resize: none;
}
.note{
  padding: 17px;
  border-radius: 10px;
  resize: none;
  box-shadow: 0 0 3px rgba(0, 0, 0, .7);
  font-size: 17px;
  color: darkblue;
  height: 300px;
  border: none;
  font-weight: bold;
  outline: none;
  background: rgba(255, 255, 255, .15);
  box-sizing: border-box;
}
.note::placeholder{
  color: grey;
  opacity: 80%;
}
.note:hover, .note:focus{
  box-shadow: 0 0 10px;
  transition: all 250ms ease-in-out;
}


footer{
  padding: 20px;
  text-align: center;
  color: grey;
}